
    <!--== DASHBOARD INFO ==-->
    <!-- <div class="sb2-2-1"> 
        <h2>Admin Dashboard</h2>
        <div class="db-2"> 
            <ul>
                <li>
                    <div class="dash-book dash-b-1">
                        <h5>Titre</h5>
                        <h4>5</h4>
                        <a href="#">View more</a>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Titre</h5>
                        <h4>5</h4>
                        <a href="#">View more</a>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-3">
                        <h5>Titre</h5>
                        <h4>15</h4>
                        <a href="#">View more</a>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-4">
                        <h5>Titre</h5>
                        <h4>12</h4>
                        <a href="#">View more</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
 -->

  
 <!-- <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="dash-book dash-b-1">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Orders</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div>
        </div>
        <div class="dash-book dash-b-1">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Revenue</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520  </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>
    </div>
</div> -->

<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->

        <div class="row">  
            <div  class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-one  w-100" id="dash">
                    <div class="card-body">
                        <div class="row">

                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-icon"> 
                                    <i class="fas fa-user-graduate"></i>
                                </div>
                                <div class="db-info">
                                    <h2>Postulants</h2>
                                    <h1 >550</h1>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="row">
                            <a  href="#">View more</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-two w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-crown"></i>
                            </div>
                            <div class="db-info">
                                <h2>Utilisateurs</h2>
                                <h1>{{utilisateurs.length}}+</h1>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-three w-100">
                    <div class="card-body">
                        <div
                            class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-building"></i>
                            </div>
                            <div class="db-info">
                                <h2>Newsletters</h2>
                                <h1>{{newsletters.length}}</h1>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-four w-100">
                    <div class="card-body">
                        <div
                            class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fal fa-user"></i>
                            </div> 
                            <div class="db-info"> 
                                <h2>Contactés</h2>
                                <h1>{{nousContacts.length}}</h1>
                                
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <h2>Courbe</h2>
                <div  class="row">
                    <div class="field col-3 md:col-4">
                        <label for="time"> Debut</label>
                        <p-calendar [(ngModel)]="dateDeb" [showTime]="true"  (ngModelChange)="onGetDateIntervalDeb(dateDeb)" [showSeconds]="true" inputId="time"></p-calendar>
                    </div>
                    <div class="field col-3 md:col-4">
                        <label for="time">Fin</label>
                        <p-calendar [(ngModel)]="dateFin" [showTime]="true" (ngModelChange)="onGetDateIntervalFin(dateFin)" [showSeconds]="true" inputId="time"></p-calendar>
                    </div>
                    <div class="field col-3 md:col-4">
                        <label for="monthpicker">Mois</label>
                        <p-calendar  [(ngModel)]="date9" view="month" (ngModelChange)="onGetDateMonth(date9)"   dateFormat="mm/yy" [readonlyInput]="true" inputId="monthpicker"></p-calendar> 
                    </div>
                    <div class="field col-3 md:col-4">
                        <label for="yearpicker">Année</label>
                        <p-calendar [(ngModel)]="date10" view="year" (ngModelChange)="onGetDateYear(date10)"  dateFormat="yy" inputId="yearpicker"></p-calendar>
                    </div>
                    
                </div> 
            </div>
          </div> 
    </div>
    <div class="row"> 
        <div class="col-12 ">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</section> 
    


<!-- <div class="col-lg-6">
    <h2>Line chart</h2>
    <canvas id="MultiplelineChart"></canvas>
</div>

<div style="width:100%;">
    <canvas id="myChart" width="700" height="250" #mychart></canvas>
 </div>    -->