.bg_image{
    width: 98,5vw;
    height: 48vw;
    background-size:cover;
    background-repeat: no-repeat;
} 
#carouselExampleDark{
    margin-top: 15vw; 
    margin-left: 5vw; 
    margin-right: 5vw; 
   background-size:contain;

}
.carousel-inner{  
    height: 45vw;
}

@media(max-width:768px){
    .col-12 h1{
        font-size: 7vw;
    }

    #line{
        margin-left: 5vw;
        margin-bottom: -5vw;
    }
    .row p{
        font-size: 3vw;
    }

    /* #bonhome{
       
        margin-left: -5vw;
        margin-top: -5vw;
    } */
   
}
 

#line{
    width: 27vw;
    height: 1vw;
    font-size: 1vw;
    margin-top: -2vw;
    margin-left: 1vw;
    background-color: #f9b442;
}
h1{margin-top: 2vw;
    text-transform: uppercase; 
    font-size: 4vw; 
    font-weight: bold; 
}
span{
    font-weight: bold;
}
p{
    font-size: 1.8vw;
   
    
}
.bonhome{
    width: 40vw;
    height: 32vw;
    margin-left: 20vw;
    margin-top: 20vw;
}
