
.btn-primary{
    height: 2em;
    margin-right: 5em;
    border-radius:0.2em; 
    background: rgb(21, 21, 21);
    background: -webkit-linear-gradient(to top, #64350d,#64350d);
    background: linear-gradient(to top, #64350d,#64350d);
    color: white;
    border: 1px solid #64350d;
}

.btn-primary:hover{
    border: 1px solid black;
    background:#f9b442;
    color:#333;
}

.col{
    text-align: center;
  }


  :host::ng-deep .panelStyle.p-panel .p-panel-header{
    /* background-color: #f9b442; */
    border-color:#f9b442;
    height: 2em;
 
  } 
  :host::ng-deep .panelStyle.p-panel .p-panel-title{
    color: #f9b442;
  } 
  :host::ng-deep .panelStyle.p-panel .p-panel-content{
    border-color:#f9b442;

  } 

    
.box {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} 