

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                    <div class="container text-center">
                       <img src="../../assets/images/PAGE SITE SUZANG-05DASH.png"  alt="">
                    </div> 
                    <h1 class="text-center"> Renitialisation du mot de passe !</h1>
                    <h4 class="text-center">Veillez saisir votre adress Email</h4>
 
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onRequestToResetPassword()">
                        <div class="form-floating mb-3">
                            <input type="email"  [(ngModel)]="forgotPassword.username"  name="username" formControlName="username" class="form-control" id="floatingInput" placeholder="email">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <button class="btn" id="btnSend" class="btn btn-primary" type="submit"  >ENVOYER</button>
                        <br>
                    </form> 
            </div>
        </div>
    </div>

</div>


