.col-md-6{
  background-color: #381e06;
  border-radius: 2em;
}

.bootstrap-wrapper{
  margin-top: 7em;
}

#btnSend{
  height: auto;
  width: auto;
  
  /* font-size:1.8vw; */
  margin-top:1vw;
  margin-bottom: 2vw; 
  border-radius:0.4em; 
  background: rgb(21, 21, 21);
  background: -webkit-linear-gradient(to top, #f9b442, #f9b442);
  background: linear-gradient(to top, #f9b442, #f9b442);
  color: white;
  border: 1px solid #f9b442;
}

 
#btnSend:hover{
  border: 1px solid #f9b442;
  background:white;
  color:#f9b442;
}
form{
  text-align: center;
}
h1,h4{
  color: white;
}