<p>products works!</p>
<div class="card">
    <div class="card-head">Suzang-Group - PRODUIT</div>
    <div class="card-body">
        <p>Nous sommes <span>SUZANG GROUP</span>, nous sortons du bois sacré. Une armée de chasseurs initiés aux arts de la 
            
            <span>"Si nous traquons le gibier c'est pour l'accrocher à votre tableau."</span>
        </p>
    </div>
</div>
<div class="card">
    <div class="card-head">Suzang-Group - PRODUIT</div>
    <div class="card-body">
        <p>Nous sommes <span>SUZANG GROUP</span>, nous sortons du bois sacré. Une armée de chasseurs initiés aux arts de la 
            
            <span>"Si nous traquons le gibier c'est pour l'accrocher à votre tableau."</span>
        </p>
    </div>
</div>
<div class="card">
    <div class="card-head">Suzang-Group - PRODUIT</div>
    <div class="card-body">
        <p>Nous sommes <span>SUZANG GROUP</span>, nous sortons du bois sacré. Une armée de chasseurs initiés aux arts de la 
            
            <span>"Si nous traquons le gibier c'est pour l'accrocher à votre tableau."</span>
        </p>
    </div>
</div>
