

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import "~bootstrap-icons/font/bootstrap-icons.css";
/* @import "~font-awesome/scss/font-awesome.scss"; */
/* @import '../node_modules/font-awesome/css/font-awesome.css';  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
   
  

html,
body {
    height: 100%;
}  

@font-face {
    font-family: 'Ubuntu';
    src: url('src/assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

p,h1,h2,h3,h4,h5,h6,li,button{ 
    font-family: 'Ubuntu';
}

body {
    position: relative;
    margin: 0;
    font-family: 'Ubuntu';
    background-color: #f4f7fa;
}
li{
    font-weight: bold;
}

 
.add-three-dot {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pac-container {
    z-index: 2001 !important;
}

.snackbar {
    background-color: white;
    border-color: black;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    color:#495057; 
    /* .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    } */

    /* .card-body {
        padding: 1rem 1.5rem; 
    } */
}

/* cadre du dash */
/* .card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}
.card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
}
.card-body {
    padding: 1rem 1.5rem; 
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
