<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                    <div class="container text-center">
                       <img src="../../assets/images/PAGE SITE SUZANG-05DASH.png"  alt="">
                    </div> 
                    <h1 class="text-center">Mot de Pass oublié !</h1>

                    <!-- {{PasswordResetModel|json}}  -->
 
                    <form  [formGroup]="PasswordResetModelForm"  (ngSubmit)="onResetPassword()">
                        <div class="form-floating mb-3">
                            <input type="password" [(ngModel)]="PasswordResetModel.password"   name="password" formControlName="password" class="form-control" id="floatingInput" placeholder="password">
                            <label for="floatingInput">Entrez un mouveau Mot de pass</label>
                        </div>
                          
                        <div class="form-floating mb-3">
                            <input type="password"  [(ngModel)]="PasswordResetModel.confirmPassword"  name="confirmPassword" formControlName="confirmPassword" class="form-control" id="floatingInput" placeholder="confirmPassword">
                            <label for="floatingInput">Confimer le mouveau Mot de pass</label>
                        </div>

                        <div *ngIf=" PasswordResetModel.confirmPassword!=''&& PasswordResetModel.confirmPassword!=null&& PasswordResetModel.password==PasswordResetModel.confirmPassword">
                            <h3 style="color:green ;">Les mots de pass sont identiques</h3>
                        </div>
                        <div *ngIf=" PasswordResetModel.confirmPassword!=''&& PasswordResetModel.confirmPassword!=null&& PasswordResetModel.password!=PasswordResetModel.confirmPassword">
                            <h3 style="color:red ;">Les mots de pass doivent coincider</h3>
                        </div>
                        
                        <button class="btn" id="btnSend" class="btn btn-primary" type="submit"  >ENVOYER</button>
                        <br>
                    </form>  
            </div>
        </div>
    </div>

</div>


