.col-md-6{
    background-color: rgb(85, 84, 84);
    margin-bottom: 5em;
    border-radius: 2em;
    padding-bottom: 2em;
}

.bootstrap-wrapper{
    margin-top: 7em;
}

#btnSend{
    height: auto;
    width: auto;
    
    /* font-size:1.8vw; */
    margin-top:1vw;
    margin-bottom: 5vw; 
    border-radius:0.3em; 
    background: rgb(21, 21, 21);
    background: -webkit-linear-gradient(to top, #381e06, rg#381e06);
    background: linear-gradient(to top, #381e06, #381e06);
    color: white;
    border: 1px solid #f9b442;
}


#btnSend:hover{
    border: 1px solid #f9b442;
    background:white;
    color:#381e06;
}
form{
    text-align: center;
}